
@import "http://fonts.googleapis.com/css?family=Raleway";

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:27%;
z-index: 10px;
margin-left:-212px;

font-family:'Raleway',sans-serif;
}

form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
/* p {
margin-top:30px
} */
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:10px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}
.fa-times{
 float:right;
 text-align: end;
 font-size: 30px;
 margin-top: 20px;
 margin-right: 0;
 font-weight: 700;
 cursor: pointer;
}

.card:hover{
    /* background:rgb(143, 180, 204); */
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}
.crd:hover{
    background-color: rgba(23, 26, 26,0.5);
}
.card-title{
font-family: 'Courier New', Courier, monospace;
z-index: 0;
font-weight: 800;
}

.card{
height: 90%;
margin-top: 40px;
margin-bottom: 30px;
z-index: 0;
}
.crd{
text-align: center;
font-size: 70px;
background-color: rgb(218, 215, 32);
height: 110px;
padding-top: 33px;
text-shadow: 2px 2px gray;
color:rgb(40, 40, 41);
z-index: 0;
width: 100%;


}
.card{
    height: 400px;
    min-width: 220px;
    z-index: -1;
}
.fa-plus-square{
    font-size: 30px;
    float: right;
    text-align: right;

}

.add{
    background: #86fde8;
}
body{
    /* background-color:#ebe7e7; */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 25px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
  display:none;
  
}

.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}


.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  float:right;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
  float: right;
  margin-right: 15px;
  color: black;
  font-weight: bold;
  letter-spacing: 1.4px;
}
.navbar__right > a:hover {
 
    /* background:rgb(152, 245, 175); */
    transition:0.2s;
    color: rgb(64, 163, 97);
    /* font-size: large; */
    font-weight:800;
    /* text-decoration: underline; */
    text-shadow: 2px purple;
   
}
.card-group{

  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid rgba(22, 22, 22, 0.2);
  border-left: 8px solid rgba(22, 22, 22, 0.9);
  
  margin: 0 auto;
  padding-left: 20px;
padding-right: 20px;
padding-top: 0;
z-index: -1;

  
}

form{
    margin-top: 12%;
    margin-inline: auto;
    width: 600px;
}

